@model CogentCms.WebAdmin.Models.Blog.BlogEditForm

@using (Html.BeginForm())
{
    @Html.HiddenFor(x => x.BlogPostId)

    <div>
        @Html.LabelFor(x => x.Title)
        @Html.TextBoxFor(x => x.Title)
        @Html.ValidationMessageFor(x => x.Title)
    </div>

    <div>
        @Html.LabelFor(x => x.Body)
        @Html.TextAreaFor(x => x.Body)
        @Html.ValidationMessageFor(x => x.Body)
    </div>

    <div>
        @Html.LabelFor(x => x.Slug)
        @Html.TextBoxFor(x => x.Slug)
        @Html.ValidationMessageFor(x => x.Slug)
    </div>

    <div>
        <input type="submit" value="Save Post" />
    </div>
}